<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div class="banner">
            <h1>SMART FITNESS COACH</h1>
        </div>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('chat') }}">BuffBot Insights</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('add_workout') }}">Add Workout</a></li>
                <li><a href="{{ url_for('recommendations') }}">Recommendations</a></li>
                <li><a href="{{ url_for('similar_users_weight') }}">Similar Users By Weight</a></li>
                <li><a href="{{ url_for('similar_users_by_workout') }}">Similar Users By Workout</a></li>
            </ul>
        </nav>
        <br>
        <h1>Register</h1>
        <div>
            <form action="{{ url_for('register') }}" method="post">
                <div>
                    <strong><label>Username:</label></strong>
                    <input type="text" name="username" required>
                </div>
                <div>
                   <strong> <label>Email:</label></strong>
                    <input type="email" name="email" required>
                </div>
                <div>
                    <strong><label>Name:</label></strong>
                    <input type="text" name="name" required>
                </div>
                <div>
                    <strong><label>Age:</label></strong>
                    <input type="number" name="age" required>
                </div>
                <div>
                    <strong><label>Current Weight:</label></strong>
                    <input type="number" name="current_weight" required>
                </div>
                <button type="submit" class="button-style">Submit</button>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>